{% extends 'bundles/TwigBundle/Exception/errorLayout.html.twig' %}

{% block main %}

    {{ parent() }}
    <h1>n'est pas autorisée !</h1>
    <a href="{{ path('app_login') }}" class="btn btn-light">Page d'accueil</a>

{% endblock %}